conf/seqopcodes.dtd

<!ELEMENT seqopcodes (opcode)* >
<!ATTLIST seqopcodes 
 version CDATA #IMPLIED>

<!ELEMENT opcode (comment|priorityNote|payload)* >
<!ATTLIST opcode
  id CDATA #REQUIRED
  name CDATA ""
  priority CDATA ""
  implicitlen CDATA ""
  updated CDATA "">

<!ELEMENT comment (#PCDATA)>

<!ELEMENT priorityNote (#PCDATA)>

<!ELEMENT payload EMPTY>
<!ATTLIST payload 
  dir CDATA "both"
  typename CDATA ""
  sizechecktype CDATA "none">

